In [ ]:
from bs4 import BeautifulSoup
import os

import pandas as pd

In [ ]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file,'lxml')
        soup_title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_title = int(soup.find('div', class_ ='audience-score meter').find('span').contents[0][:-1])
        #num_score = soup.find('div', class_ ='audience-info hidden-xs superPageFontColor')
        num_audience_ratings =int(soup.find('div',class_ = "audience-info hidden-xs superPageFontColor").contents[3].contents[2].strip().replace(',',''))
        # Your code here
        # Note: a correct implementation may take ~15 seconds to run
        
        
        # Append to list of dictionaries
        df_list.append({'title': soup_title,
                        'audience_score': int(audience_title),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

# Testing two Dataframes

In [3]:
# You can run this code in udacity workspace or dowload the df_olution pkl file on your local system

In [ ]:
df_solution = pd.read_pickle('df_solution.pkl')
df.sort_values('title', inplace = True)
df.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)

# Data Wrangling - p2 project

In [6]:
# working with we rate dog using twitter user @dogrates
# the twitter archive  of the user @dog_rates, rates dog based on their humuorous  comment abt the dog
# so we have the twitter archive downloaded as the dataset with content such as tweet id,timestamp, text for 5000 tweets

In [7]:
# project step
#1.Gathering >>Assessing >>Cleaning Data >> Storing Data >> Analyzing and visualization > and Reporting

In [8]:
# packages to import 
#1. pandas,Numpy , requests, tweepy, json
# create written documents that contain images and export as pdf files

# Task

In [9]:
#Analyzing and creating interesting trustworthy analyses and visuals
# work on Enhanced Twitter archive
# a column contains each text tweet , so we can extract dog rating , dog name and dog stage(floppo, pupper, floofer) and , filtered tweet with ratings

In [10]:
# so basically , you will be needing to gathering some information through twitter API like retweet count, favorite count using the tweet id
# querying twitter Api  to extract this info

In [11]:
# every tweet has image assosciated with , we built a model that classify the breed of every image in every  tweet

In [1]:
import pandas as pd
import numpy as np
import json
import pandas as pd

In [2]:
# settings
base = os.path.abspath("__file__" + "/../")
print(base)
directory = base + '/data/'
print(directory)

c:\Users\ofili\Documents\Projects\Data Analysis\Wrangle and Analyze Data
c:\Users\ofili\Documents\Projects\Data Analysis\Wrangle and Analyze Data/data/

In [4]:
list_collection = []
with open(directory + '/tweet-json.txt') as fr:
    A = fr.readlines()
    for line in A:
        first_man = json.loads(line)
        #rint(first_man)
        #rint(type(first_man))
        list_collection.append(first_man)
        
df = pd.DataFrame(list_collection)
    #for line in fr:
     #   data = json.loads(line)

In [5]:
df1 = df[['id','retweet_count','favorite_count',]]
df1.columns = ['tweet_id','retweet_count','favorite_count']

In [6]:
tweet_df = pd.read_csv(directory + 'twitter-archive-enhanced.csv')

In [7]:
tweet_df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [ ]:
#for tweet in tweet_df['tweet_id'].values:
#    print(tweet)

In [8]:
tweet_combinedf = tweet_df.merge(df1,how = 'inner', on ='tweet_id' )# to combine the two dataframes using tweet_id as the key

In [9]:
tweet_combinedf.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,retweet_count,favorite_count
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,8853,39467
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,6514,33819

In [17]:
# About the twitter developer's account
#the twitter API requires an authoriser from user 
# so you need to import tweepy after installation

In [18]:
#! pip install tweepy

In [19]:
# auth = tweepy.OAuth1UserHandler(consumer_key='',consumer_secret='',access_token='',access_token_secret='')

In [20]:
#api = tweepy.API(auth)# using the API method to access the RESTFUL API methods

In [ ]:
import tweepy
from tweepy import OAuthHandler
import json
from timeit import default_timer as timer

# Query Twitter API for each tweet in the Twitter archive and save JSON in a text file
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit=True)

# NOTE TO STUDENT WITH MOBILE VERIFICATION ISSUES:
# df_1 is a DataFrame with the twitter_archive_enhanced.csv file. You may have to
# change line 17 to match the name of your DataFrame with twitter_archive_enhanced.csv
# NOTE TO REVIEWER: this student had mobile verification issues so the following
# Twitter API code was sent to this student from a Udacity instructor
# Tweet IDs for which to gather additional data via Twitter's API
tweet_ids = df_1.tweet_id.values
len(tweet_ids)

# Query Twitter's API for JSON data for each tweet ID in the Twitter archive
count = 0
fails_dict = {}
start = timer()
# Save each tweet's returned JSON as a new line in a .txt file
with open('tweet_json.txt', 'w') as outfile:
    # This loop will likely take 20-30 minutes to run because of Twitter's rate limit
    for tweet_id in tweet_ids:
        count += 1
        print(str(count) + ": " + str(tweet_id))
        try:
            tweet = api.get_status(tweet_id, tweet_mode='extended')
            print("Success")
            json.dump(tweet._json, outfile)
            outfile.write('\n')
        except tweepy.errors.TweepError as e:
            print("Fail")
            fails_dict[tweet_id] = e
            pass
end = timer()
print(end - start)
print(fails_dict)

In [ ]:
# what is needed in next step:
# carry out both visual assessments and programatic assessment
# carry out al least 8 data quality issues, focus more on the missing values ,duplicate values, and some other stuffs
#tidyness is based on structures,columns here , check for columns that are repetive, you might be required to melt some columns
# in rowa
# like carrying out the dog genres in the column using

In [21]:
import requests

In [ ]:
r = requests.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')

In [10]:
with open(directory + 'image-predictions.tsv','wb') as wb:
    wb.write(r.content)

NameError: name 'r' is not defined

In [12]:
image_df = pd.read_csv(directory + 'image-predictions.tsv',sep = '\t')

In [13]:
image_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

: